header {
    flex-direction: column;
    font-size: 13px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
a:link {
    text-decoration: none;
}
header a:active {
    text-decoration: none;
    color: inherit;
}

header a:visited {
    color: inherit;
}

.wrapper-black {
    background-color: #2e2e2e;
}

.header-contact {
    height: 40px;
}

.middle-bar {
    justify-content: space-between;
}

.header-backgrounds {
    background-color: #eaeaea;
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.header-contact a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 11px;
    transition: 0.3s;
    margin-right: 45px;
}

.header-contact a:hover {
    color: #c32c12;
}

.header-contact-tel::before {
    content: "";
    display: inline-block;
    background-image: url("../img/telephone.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    vertical-align: baseline;
    margin-right: 7px;
}

.header-contact-mail::before {
    content: "";
    display: inline-block;
    background-image: url("../img/mail-black-envelope-symbol.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 8px;
    vertical-align: baseline;
    margin-right: 7px;
}

.header-contact-fb::before {
    content: "";
    display: inline-block;
    background-image: url("../img/facebook-logo.png");
    background-repeat: no-repeat;
    width: 6px;
    height: 11px;
    vertical-align: baseline;
    margin-right: 7px;
}

.logo-wrapper a img {
    padding: 28px 0 27px;
    max-width: 100%;
    max-height: 100%;
}

 ul {
    list-style: none;
}

.search-wrapper form {
    position: relative;
    margin: 0 auto;
}

.search-wrapper input {
    width: 230px;
    height: 50px;
    border: none;
    padding-left: 14px;
    outline: none;
}

.search-wrapper button {
    background-color: #2e2e2e;
    background-image: url("../img/lupa.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 47px;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.2s;
}

.search-wrapper button:hover {
    background-color: #575757;
}

.my-account {
    color: #231f20;
    font-family: "Myriad Pro", sans-serif;
    font-size: 11px;
    font-weight: 700;
    transition: 0.2s;
    text-transform: uppercase;
}

.my-account:hover {
    opacity: 0.7;
}

.lang-settings {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
}

.lang-short {
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 9px;
}

.lang-menu {
    position: absolute;
    padding: 5px 5px 10px 15px;
    background-color: #e6e6e6;
    width: 150px;
    border: 1px solid #fefefe;
    border-radius: 4%;
    top: 20px;
}

.lang-menu div {
    padding: 4px;
}

.lang-menu button {
    border: none;
    padding: 5px 10px;
    background-color: #8c7f7f;
    color: #fff;
    width: 120px;
    transition: 0.3s;
}

.lang-menu button:hover {
    background-color: #575757
}

.hidden {
    height: 0;
    opacity: 0;
}

.flag {
    background-image: url("../img/flag_PL.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 12px;
    position: relative;
    margin-right: 35px;
}

.flag::after {
    content: "";
    background-image: url(../img/down-arrow.png);
    background-repeat: no-repeat;
    width: 9px;
    height: 10px;
    position: absolute;
    right: -18px;
    top: 5px;
}

.my-basket {
    color: #fff;
    position: relative;
    padding: 10px;
}

.my-basket a {
    z-index: 2;
    display: flex;
    transition: 0.3s
}
.my-basket a:hover {
    color: #1a1a1a;
}

.my-basket a::before {
    content: "";
    position: absolute;
    background-image: url(../img/bg-basket.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 188px;
    clip-path: polygon(0 80%, 0 0, 100% 0, 100% 80%, 50% 95%);
    top: -65px;
    left: 0;
    right: 0;
    z-index: -1;
}

.item-count {
    position: relative;
    margin: 5px;
}

.basket-links {
    align-items: flex-start;
    flex-direction: column;
}

.basket-links span:first-child {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
}

.basket-links span:last-child {
    font-size: 14px;
    font-weight: 700;
    font-family: Ubuntu;
    white-space: nowrap;
}

.basket-links span {
    display: inline-block;
}

.item-count span {
    color: #b62323;
    background-color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    position: absolute;
    top: -10px;
    right: -4px;
    font-size: 12px;
    font-weight: 700;
    padding-top: 3px;
}

.wrapper--bg-white {
    background-color: #fff;
}

nav {
    position: relative;
}

.navigation-lvl-1>li {
    display: inline-block;
}

.navigation-lvl-1>li>a {
    display: block;
    padding: 23px 40px 22px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
}

.navigation-lvl-1 li:first-child a {
    padding-left: 0;
}

.navigation-lvl-1>li>a:hover {
    border-bottom: 2px solid #dc363d;
}

.navigation-lvl-1-cat:hover .navigation-lvl-2 {
    display: inline-block;
}


.navigation-lvl-2 {
    z-index:10;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.45);
    background-color: #fff;
    padding: 8px 20px 12px;
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    transition: 0.4s;
    display: none;
}

.navigation-lvl-2-cat {
    padding: 15px 15px 0px 0px;
    flex-direction: column;
    vertical-align: top;
    display: inline-block;
}

.navigation-lvl-2-cat>a {
    text-transform: uppercase;
    color: #ce2e2a;
    font-weight: 700;
}

.navigation-lvl-3 li>a {
    transition: 0.3s;
    width: 100%;
}

.navigation-lvl-3 li>a:hover {
    background-color: #dddddd;
    color: #ce2e2a;
}

.navigation-lvl-3 li>a {
    display: block;
    font-weight: 700;
    margin: 6px 0;
}

@media only screen and (max-width: 768px) {


}
.breadcrumbs {
    padding: 11px 0;
    font-size: 11px;
    font-weight: 400;
    color: #2e2e2e;
}

.breadcrumbs ul li {
    display: inline;
}

.breadcrumbs a {
    transition: 0.3s
}

.breadcrumbs a:hover {
    font-weight: 700;
}
.slick-slider img {
    padding-top: 9px;
    max-width: 100%;
    max-height: 100%;
}
.product-photo img {
    max-width: 100%;
    max-height: 100%;
}
.slick-slide.slick-current.slick-active .slider-item {
    border: 1px solid transparent; 
    border-bottom: 3px solid #cf3622;
    transition: 0.3s;
}
main > .container {
    padding: 45px 0;
}
.slick-product-slider {
    position: relative;
    padding: 0 10px 0 0;
    display: flex !important;
    padding-bottom: 38px;
    transform: translateY(-7%)
}
.slick-product-slider::before {
    content: "Promocja";
    position: absolute;
    clip-path: polygon(0 50%, 15% 0, 100% 0, 100% 100%, 15% 100%);
    top: -25px;
    right: 16px;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #ce2e2a;
    padding: 5px 13px;
}
.slick-arrow {
    z-index: 2;
    position: absolute;
    left: 32%;
    background: transparent;
    border: none;
}
.arrow-up {
    top: -4%;
}
.arrow-down {
    bottom: -7%;
}
.slider-item {
    text-align: center;
    border: 1px solid #ebebeb;
    cursor: pointer;
    width: 80px;
    height: 80px;
    margin: 4px 0;
    padding: 10px;
}
.product-menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: -30px;
    font-size: 11px;
}
.product-menu h1 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}
.product-details {
    font-size: 11px;
    text-transform: uppercase;
    padding-top: 15px;
}
.product-details span a {
    color: #ce2e2a;
    margin-right: 10px;
}
.color-picker {
    flex-direction: column;
}
.color-picker span {
    font-size: 11px;
    text-transform: uppercase;
    padding: 15px 0 6px;
}
.color-options {
    justify-content: space-between;
    text-align: center;
}
.color-thumbnail {
    display: block;
    padding: 15px 0;
    margin: 5px;
    height: 65px;
    text-align: center;
    border: 1px solid #ebebeb;
    position: relative;
}
.color-thumbnail:hover {
    border: 1px solid transparent;
}
 .color-thumbnail:hover::after {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 0px;
    border-bottom: 3px solid #b62323;
}
.color-thumbnail img {
    max-width: 53px;
    max-height: auto;
    max-height: 100%;
}
.product-options {
    padding: 15px 0;
}
.product-options > div {
    flex-direction: column;
    align-items: flex-start;
}
.product-options > div label {
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 0 10px 0;
}
.product-options select {
    cursor: pointer;
    border: 1px solid #ebebeb;
    background-image: url('../img/down-arrow.png');
    background-repeat: no-repeat;
    background-position: 92%;
    background-color: #fff;
    padding: 15px;
    font-size: 12px;
    -webkit-appearance: none;
}
.product-options div:last-child form {
    padding-left: 12px;
}
.product-availability {
    flex-direction: row;
    align-items: flex-start;
}
.product-availability div:last-child a{
    width: 100%;
    text-align: right;
}
.product-amount {
    flex-direction: column;
}
.product-status {
    width: 28px;
    height: 28px;
    background-color: #8dc63f;
    background-image: url('../img/okey.png');
    background-position: center;
    background-repeat: no-repeat;
}
.red {
    text-transform: uppercase;
    color: #c32c12;
    transition: 0.3;
}
.red:hover{
    color: #1a1a1a;
}
.strong {
    font-weight: bold;
}
.caps {
    text-transform: uppercase;
}
.product-basket {
    padding: 25px 0 18px;
}
.product-basket ins {
    text-decoration: none;
    font-size: 22px;
}

del {
    color: #9d9c9c;
    font-size: 14px;
    font-weight: 400;
}
.price {
    flex-wrap: wrap;
}
.counter-form input{
    border-left: none;
    border-right: none;
    width: 33px;
}
.counter-btn {
    width: 33px;
}
.counter-form * {
    display: inline-block;
    height: 59px;
    text-align: center;
    background-color: transparent;
    font-size: 23px;
    border: 1px solid #ebebeb;
}
.btn-dec {
    border-right: none;
}
.btn-inc {
    border-left: none;
}
.red-button {
    width: 184px;
    height: 59px;
    font-size: 13px;
    font-weight: 700px;
    text-transform: uppercase;
    background-image: url('../img/btn-bg-1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    border: none;
    margin: 0 0 0 auto;
    transition: 0.3s;
}
.red-button:hover {
    opacity: 0.8;
}
.cash-circle {
    display: block;
    width: 36px;
    height: 36px;
    background-image: url('../img/arrow_return.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.negotation-offer {
    justify-content: space-between;
    align-items: flex-start;
}
.negotiate {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 13px;
}
.negotiate-dare {
    font-size: 14px;
    font-weight: 700;
}
.perks-section {
    border: 1px solid #ebebeb;
    margin-top: 20px;
    padding: 25px 0 18px 8px;
    flex-wrap: wrap;
    position: relative;
}
.perks-section:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 1px solid #ebebeb;
    border-right: 0 solid #ebebeb;
    border-bottom: 0 solid #ebebeb;
    border-left: 1px solid #ebebeb;
    top: -11px;
    left: 89%;
    transform: rotate(45deg);
    background-color: #fff;
}
.perks-section > div p {
    padding: 0 0 15px 10px;
    font-size: 11px;
}
.perks-section > div {
    padding-left: 8px;
}
.perks-section strong {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #2e2e2e;
}
.perk-icon img {
    vertical-align: center;
    padding-bottom: 10px;
}
.perks-section p {
    padding: 10px 0 0 15px;
}
.section-title {
    color: #272626;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase; 
    padding: 0 0 20px 0;
}
.logo-bullet {
    vertical-align: middle;
    padding-right: 10px;
}
.item-photo img {
    margin: 0 auto;
}
.rec-item-desc {
    flex-direction: column;
    align-items: flex-start;
    color: #272626;
    padding: 0px 0 20px 0;;
}
.rec-item-desc p {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
}
.rec-item-desc strong {
    padding-top: 13px;
    font-size: 16px;
    font-weight: 700;
}
.recommended-item {
    padding: 15px 10px;
}
.recommended-item:not(last-child) .rec-item-desc {
    border-right: 1px solid #ebebeb;
}
.product-article {
    flex-direction: column;
    line-height: 22px;
    align-items: flex-start;
    font-size: 13px;
    font-family: Arial;
    font-weight: 700;

}
.description {
    line-height: 25px;
}
.product-pros {
    list-style: none;
    padding: 23px 0 0 0; 
}
.product-pros li {
    padding: 1px 0;
}
.subsection-title {
    color: #2e2e2e;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 45px 0 0 0;
}

.faq-question {
    cursor: pointer;
    color: #2e2e2e;
    font-size: 13px;
    font-weight: 700;
    padding: 20px 0;
    border-bottom: 1px solid #e2e2e2;
}
.faq-anserw {
    margin-bottom: 10px;
}
.faq-question:focus {
    outline: none;
}
.faq-question img {
    float: right;
    padding: 5px 10px 0 0;
    vertical-align: middle;
}
.faq-anserw {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
}

.no-flex {
    display: initial;
}
.more-question {
    padding: 25px 0 20px;
    justify-content: space-between;
}
.more-question .subsection-title {
    padding: 0;
}
.red-button-small {
    color: #fff;
    width: 218px;
    height: 42px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: url('../img/btn-bg-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 0 0 25px;
    border: none;
    transition: 0.3s;
}
.red-button-small:hover {
    opacity: 0.8;
}
.article-subject-details {
    flex-direction: column;
    padding-left: 6px;
}
.aside-banner {
    color: #fff;
    background-color: #e01a4e;
    background-image: url('../img/sml-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px 0px 23px 60px;
    flex-direction: column;
    align-items: flex-start;
}
.aside-banner .caps {
    font-size: 16px;
}
.aside-banner .small {
    font-size: 12px;
}
.btn-white {
    width: 132px;
    padding: 4px 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    transition: 0.3s;
    border: 1px solid #ffffff;
    margin-top: 10px;
    text-align: center;
}
.btn-white:hover {
    background-color: #fff;
    color: #b62323;
}
.details{
    text-align: left;
    padding: 39px 30px 29px 25px;
    box-shadow: 0px 2px 10px 0px rgba(230,230,230,1);
    position: relative;
    background-color: #fff;
}
.about-product {
    align-items: flex-start;
}
.specification {
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
}
.specification li {
    display: block;
    font-size: 10px;
    padding: 5px 0 7px;
}
.specification li b {
    font-size: 12px;
    display: block;
    text-transform: uppercase;
    display: block;
    padding: 2px 0 2px;
}
.details::after {
    content: "";
    position: absolute;
    background-image: url('../img/kleks.png');
    background-repeat: no-repeat;
    background-size: inherit;
    z-index: -1;
    width: 400px;
    height: 385px;
    background-position: center;
    background-size: cover;
    left: -115px;
    top: 132px;
}
.blog {
    padding: 65px 0 0;
    flex-direction: column;
}
.background-black {
    background-color: #171717;   
}
.post-title {
    font-size:16px;
    color: #231f20;
    padding: 16px 0;
}
.popular-posts {
    transition: 0.3s;
}
.popular-posts:hover {
    cursor: pointer;
    opacity: 0.8;
}
.popular-posts article a{
    flex-wrap: wrap;
}
.popular-posts article {
    padding-bottom: 20px;
    transition: 0.3s;
}
.post-intro {
    color: #231f20;
    line-height: 23px;
    font-size: 14px;
    font-family: 'Arial MT';
    font-weight: 400;
    padding: 27px 0 18px 30px;
}
.popular-posts article:last-child {
    padding: 0 0 20px 15px;
}
.slick-dots {
    text-align: center;
}
.slick-slide {
    outline: none;
}
.slick-list.draggable {
    padding: 0;
}
footer {
    background-image: url('../img/bf-footer-dark.png'), url(../img/mountains.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 230px;
}
.footer-nav {
    background-color: #171717;
    color: #e0dcdc;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    align-items: flex-start;
}
.footer-list li {
    /* color: #e0dcdc;*/
    color: #71757e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 0 0 18px 0;
    transition: 0.3s
}
.footer-list li:hover {
    color: #c32c12;
}
.footer-nav-section {
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
}
.footer-title {
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.85px;
    text-transform: uppercase;
    letter-spacing: 0.58px;
    padding: 0 0 21px 0;
}
address {
    color: #71757e;;
    font-family: "Myriad Pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    padding: 0 0 26px 0;
}
.contact img {
    margin-right: 30px;
}
address .mail {
    font-size: 14px;
}
.copyright {
    background-color: #171717;
    padding: 28px;
    justify-content: center;
}
.footer-nav-section:not(:first-child)::before {
    position: absolute;
    content: "";
    height: 189px;
    width: 1px;
    background-color: #3a3a3a;
    left: -50px;
}
.chose-a-set {
    padding: 25px 0 45px;
}
.footer-list img {
    padding-right: 15px;
}
.mobileBtn {
    display: none;
}
@media screen and (min-width: 1200px) {
    footer {
        padding-top: 350px;
    }
    .subsection-title {
        font-size: 16px;
    }
    .details::after {
        width: 400px;
        height: 385px;
        background-position: center;
        background-size: auto;
    }
    .aside-banner {
        background-size: auto;
        padding:25px 0px 26px 100px;
    }
    .product-basket ins {
        text-decoration: none;
        font-size: 22px;
    }
    .counter {
        padding-left: 20px;
    }
   address {
    font-size: 25px;
   }
   address .mail {
       font-size: 19px
   }
   .slick-dots {
       text-align: center;
   }
    .slick-product-slider {
        transform: translateY(0)
    }
    .details::after {
        width: 430px;
        height: 430px;
        background-position: center;
        bottom: -135px;
        left: -49px;
    }
    .search-wrapper input{width: 300px}
    .my-basket a::before {
        top: -65px;
        background-size: contain;
    }
    .basket-links span:last-child {
        font-size: 20px;
    }
    .chose-a-set {
        padding: 65px 0 50px;
    }
}
@media only screen and (max-width: 979px) {
    .product-availability > div > div {
        margin-right: 10px;
    }
    .ui-accordion-header-active {
        padding-right: 10px;
    }
    .popular-posts {
        flex-direction: column;
    }
    .counter-btn, .counter-form input {
        width: 33%
    }
    .popular-posts article a {
        align-items: flex-start;
    }
    .perks-section:before {
        left: 50%;
    }
    .slick-product-slider {
        transform: translateY(0);
        padding-bottom: 65px;
    }
    .navigation-lvl-1>li>a {
        padding: 23px 20px 22px;
    }
    .my-basket {
        padding: 0 10px 10px 10px;
    }
    .my-basket a {
        flex-direction: column;
        margin: 0 auto;
    }
    .lang-menu {
        z-index: 10;
        top: 45px;
        left: -20px;
    }
    .lang-menu div {
        padding: 10px 10px 10px 20px;
    }
    .item-photo {
        margin-right: 10px;
    }
    .product-menu {
        margin-top: 0;
    }
    .aside-banner {
        background-position: left center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 12px 0px 10px 25px;
        flex-direction: column;
        align-items: flex-start;
        background-position-y: 34%;
    }
    .my-basket a::before {
        top: -57px;
    }
    address {
        font-size: 22px;
    }
    address .mail {
        font-size: 16px;
    }
    .footer-nav {
        flex-wrap: wrap;
    }
    .footer-list {
        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .color-options {
        flex-wrap: wrap;
    }
    nav.container {
        padding: 0;
    }
    #menu {
        display: none;
    }
    nav .navigation-lvl-3 {
        position: static;
        display: none;
        color: #231f20;
    }
    .navigation-lvl-1>li:first-child a {
        padding-left: 20px;
    }
    nav li {
        border-bottom: 1px solid #777777;
    }
    .navigation-lvl-2-cat:hover .navigation-lvl-3 {
        display: block;
    }
    .container.navigation-list.navigation-lvl-1 {
        width: 100%;
        padding: 0;
    }
    .navigation-lvl-1 li:first-child a {
        padding-left: 20px;
    }
    nav ul li, nav li a {
        width: 100%;
    }
    .navigation-lvl-1-cat {
        background-color: #2f2f2f;
        color: #fff;
    }
    .navigation-lvl-2-cat a {
        padding-left: 20px;
    }
    .navigation-lvl-2 {
        position: inherit ;
        width: 100%;
        padding: 0;
    }
    .navigation-lvl-2-cat {
        display: block;
    }
    .navigation-lvl-2-cat {
        padding: 23px 0;
    }
    .navigation-lvl-3-cat a {
        padding: 23px 20px;
        margin: 0;
        border: none;
    }
    .search-form {
        padding-bottom: 0;
        width: 100%;
        border-bottom: 1px solid #2e2e2e;
        background-color: #fff;
    }
    .search-form input {
        width: 85%;
    }
    .breadcrumbs {
        display: none;
    }
    .my-basket a::before {
        display: none;
    }
    .header-contact {
        background-color: #2e2e2e;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .header-contact a {
        margin-right: 0;
        padding: 15px 0;
        font-size: 16px;
    }

    .logo-wrapper {
        justify-content: center;
    }
    .logo-wrapper a img {
        padding: 10px 0 15px;
    }

    .item-count span {
        color: #fff;
        background-color: #d43a31;
    }
    .my-basket {
        justify-content: flex-end;
        padding: 0;
    }
    .basket-links {
        display: none;
    }
    .slick-dots li {
        display: inline-block;
        padding: 5px;
    }
    .slick-dots li button {
        height: 14px;
        width: 14px;
        border-radius: 50%;
        font-size: 0;
        transition: 0.2s;
        background-color: #ebebeb;
        border: none;
    }
    .slick-dots li.slick-active button {
        background-color: #ce2e2a;
    }
    .slider-item {
        width: 100%;
        height: 100%;
        border: none;
    }
    .product-basket {
        flex-wrap: wrap;
    }
    .price {
        padding-bottom: 15px;
    }
    .counter-btn {
        width: 33%;
    }
    .product-options {
        flex-direction: column;
    }
    .product-options div:last-child {
        padding-top: 15px;
    }
    .product-options div:last-child form {
        padding-left: 0;
    }
    .chose-a-set {
        padding: 25px 15px 45px;
    }
    .faq-anserw p {
        padding-top: 15px;
        
    }
    .aside-banner {
        align-items: center;
    }
    .blog {
        padding: 80px 15px 45px;
    }
    .post-intro {
        padding: 27px 0 18px;
    }
    .popular-posts article:last-child {
        padding: 0 0 20px 0;
    }
    .contact {
        padding-bottom: 20px;
    }
    footer {
        padding-top: 18%
    }
    .footer-nav-section {
        align-items: flex-start;
        padding-left: 10%;
    }
    .my-account {
        justify-content: center;
        padding: 18px 0;
        border-top: 1px solid #2e2e2e;
        font-size: 12px; 
    }
    .red-button-small {
        margin: 0;
    }
    .article-subject-details {
        padding-left: 0;
    }

    .lang-settings {
        display: none;
    }
    .lang-menu button {
        height: 40px;
        float: right;
        padding: 5px 10px;
        background-color: #2f2f2f;
        width: 120px;
        transition: 0.3s;
        text-transform: uppercase;
        font-size: 12px;
    }
    .middle-bar {
        padding: 15px 10px 15px 10px;
    }
    .lang-menu {
        position: static;
        padding: 5px 5px 10px 20px;
        background-color: #e6e6e6;
        width: 100%;
        border: none;
        border-radius: 0;
    }
    .lang-menu div {
        display: inline-block;
    }
    .lang-menu input[type="radio"] {
        padding: 100px;
    }
    .wrapper--bg-white {
        background-color: transparent;
    }
    .filtered {
        filter: brightness(50%) sepia(100) saturate(100) hue-rotate(25deg);

    }
    .header-backgrounds {
        background-position: top right;
        background-attachment: fixed;
    }
    .mobileBtn {
        display: inline-block;
 
    }
    .mobileBtn > div {
        background-color: #d43a31;
        display: block;
        height: 50px;
        width: 35px;
        clip-path: polygon(0 75%, 0 0, 100% 0, 100% 75%, 50% 95%);
        padding-top: 5px;
        margin: 0 auto;
    }
    .bars {
        background-image: url('../img/bars-solid.svg');
        height: 100%;
        background-repeat: no-repeat;
        width: 60%;
        margin: 0 auto;
        filter: invert(1) brightness(76%) sepia(100) saturate(0);
    }
}